:root
{
    --main_color : #141418;
    --red_color : #ff0044;
}
body {
    background-color: #0C0C10;
    background-color: white;
}


.Poppins{
    font-family: "Poppins";
    font-weight: 700;
}

/* headers */
.menu a
{
    color: aliceblue;
}
.menu a:hover
{
    color: #ff0044;
}
.menu [aria-current="page"]
{
    color: rgb(255, 0, 68);
}
#menu-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header
{
    border-radius: 0 0 25px 25px;
}
/* footer */
footer 
{
    border-radius: 75px 0 0 0 ;
}
.links a
{
    color: white;
}
.links a:hover
{
    color: rgb(255, 0, 68);
}
nav.links  {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}


/* slider */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}

.course-thumbnail img
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
#img_slider
{
    border-radius: 5px;

}

#tool_holder img
{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

#ctf_holder img
{
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
#blog_holder img
{
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

#post_fire {
    width: 100%;
    height: 100%;
    
}
#post_fire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


span.page-numbers.current {
    color: white;
    font-family: "Poppins";
    font-weight: 700;
    background: #ff0031;
    padding: 6px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff003383;
}

.page-numbers
{
    color: #ff0031;
    font-family: "Poppins";
    font-weight: 700;
    background: white;
    padding: 6px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff003383;
}

#pag a:visited
{
    color: #ff0031;
}
a.next.page-numbers
{
    display: none;
}
a.prev.page-numbers
{
    display: none;
}




.scrollable-div::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
.scrollable-div {
    scrollbar-width: thin; /* Make scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

.scrool {
    padding: 5px;
    background-color: rgb(143, 226, 143);
    width: 300px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* posts */

#bcamp_details img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#description_bcamp
{
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#description_bcamp blockquote
{
    background-color: #2b2b33;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    border-style: none;
    border: 0;
    padding: 10px;
}
#description_bcamp h4
{
    
    font-size: large;
    color: #ff5885;
    font-family: "Poppins";
    font-weight: 700;
}
#description_bcamp h4::before
{

    content: "📌 " ;
}


#fire_bcamp_details img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
#a_bcamp_details:visited
{
    color: white;
}
#a_bcamp_details
{
    color: white;
}
#a_bcamp_details:hover
{
    color: white;
    background: #32323b;
}