body {
    background-color: #121213;
}

.Poppins{
    font-family: "Poppins";
    font-weight: 700;
}

/* headers */
.menu a
{
    color: aliceblue;
}
.menu a:hover
{
    color: #ff0044;
}
.menu [aria-current="page"]
{
    color: rgb(255, 0, 68);
}
#menu-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header
{
    border-radius: 0 0 25px 25px;
}
/* footer */
footer 
{
    border-radius: 75px 0 0 0 ;
}
.links a
{
    color: white;
}
.links a:hover
{
    color: rgb(255, 0, 68);
}
nav.links  {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}


/* slider */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }